* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.HEAD {
    background-color: #A2DBFA;
    height: 80px;
}

.Icon {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 50px;
    line-height: 85px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.nav {
    float: right;
    margin-right: 20px;
}

.nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

a {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    transition: background-color 2s cubic-bezier(0.1, 0.65, 0.11, 0.92);
}

a:hover,
a.active {
    background-color: #5cbef3;
}

.Info {
    background-color: #d8dbdb;
    height: 600px;
}

.Info h1 {
    text-align: center;
    padding: 10px;
}

.Info p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    padding: 25px 200px;
}

.foot {
    width: 100%;
    height: 80px;
}

.foot p {
    text-align: center;
    background-color: #afb6b8;
    padding: 35px;
}

@media screen and (max-width:870px) {
    .nav li {
        display: none;
    }
    .Info {
        height: 500px;
    }
    .Info h1 {
        text-align: center;
        font-size: 25px;
        padding: 0px;
        line-height: 100px;
    }
    .Info p {
        padding: 0;
        padding-bottom: 20px;
        font-size: 15px;
        text-align: center;
    }
    .foot {
        height: 70px;
    }
    .foot p {
        text-align: center;
        padding: 0;
        padding-top: 20px;
        height: 70px;
    }
}

@media screen and (max-width:480px) and (max-width:870px) {
    .nav li {
        display: none;
    }
    .Info {
        height: 700px;
    }
    .Info h1 {
        text-align: center;
        font-size: 25px;
        padding: 0px;
        line-height: 100px;
    }
    .Info p {
        padding: 0;
        padding-bottom: 20px;
        font-size: 14px;
        text-align: center;
    }
    .foot {
        height: 50px;
    }
    .foot p {
        text-align: center;
        padding: 0;
        padding-top: 20px;
        height: 50px;
    }
}